@media (min-width: 960px) {
    .content-area {
        width: 700px;
        font-size: 16px;
    }
}

* {
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color: aqua;
    flex: 1;
}

nav {
    background-color: rgb(43, 46, 211);
    height: 120px;
    width: 100%;
    font-weight: bold;
    font-size: x-large;
    display: flex;
}